dell.vsean.net {
  root * /var/www/dell.vsean.net
  file_server

  @catalog {
    expression {file}.contains("Catalog.xml") || {file}.contains("catalog.xml")
  }

  rewrite @catalog /catalog.php

  @dot_exe {
    expression {file}.endsWith(".exe")
  }

  redir @dot_exe https://dl.dell.com{http.request.uri.path}

  php_fastcgi unix//run/php/php8.1-fpm.sock {
    try_files {path} {path}/index.php =404
  }
}
